*.suo
*.user
*.userosscache
*.sln.docstates
.vs/*

DDD AnemicDomainModel/.vs/*
DDD AnemicDomainModel/Api/obj/*
DDD AnemicDomainModel/Api/debug/*
DDD AnemicDomainModel/Api/bin/*
DDD AnemicDomainModel/Logic/obj/*
DDD AnemicDomainModel/Logic/debug/*
DDD AnemicDomainModel/Logic/bin/*

DDD RichDomainModel/.vs/*
DDD RichDomainModel/Api/obj/*
DDD RichDomainModel/Api/debug/*
DDD RichDomainModel/Api/bin/*
DDD RichDomainModel/Logic/obj/*
DDD RichDomainModel/Logic/debug/*
DDD RichDomainModel/Logic/bin/*
DDD RichDomainModel/.vs/config/applicationhost.config
